<h1>Listado de productos</h1>
<%= link_to "Nuevo Producto", products_new_path %>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @product.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td>
                <%= link_to "Editar",edit_product_path(product) %>
                <%= link_to "Elimnar",product,method: :delete, data:{confirm:"Desea eliminar este articulo?"} %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>